<% layout("/layouts/boilerplate.ejs") %>

<div>
  <div class="mt-3">
    <h3>Add a new Product</h3>
  </div>
  <form method="POST" action="/products" novalidate class="needs-validation">
    <div class="row">
      <div class="mt-3 col-1">
        <label for="_id" class="form-label">Id</label>
        <input
          type="number"
          name="products[_id]"
          class="form-control"
          value="<%= id %>"
          required
        />
      </div>
      <div class="mt-3 col-11">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          name="products[name]"
          class="form-control"
          placeholder="Enter item name"
          required
        />
        <div class="invalid-feedback">Please provide a valid item name.</div>
      </div>
    </div>
    <div class="row">
      <div class="mt-3 col-6">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="products[price]"
          class="form-control"
          placeholder="Enter price"
          required
        />
        <div class="invalid-feedback">Please provide a valid price.</div>
      </div>
      <div class="mt-3 col-6">
        <label for="qty" class="form-label">Qty</label>
        <input
          type="number"
          name="products[qty]"
          class="form-control"
          placeholder="Enter quantity"
          required
        />
        <div class="invalid-feedback">Please provide a valid quantity.</div>
      </div>
    </div>

    <div class="mt-3">
      <label for="supName" class="form-label">Supplier Name</label>
      <input
        type="text"
        name="products[supName]"
        class="form-control"
        placeholder="Enter supplier name"
        required
      />
      <div class="invalid-feedback">Please provide a valid supplier name.</div>
    </div>
    <div class="mt-3">
      <label for="date" class="form-label">Date</label>
      <input
        type=""
        value="<%= date %>"
        id="date"
        name="products[date]"
        class="form-control"
        required
      />
    </div>
    <button class="mt-3 btn btn-dark">Add item</button>
  </form>
</div>
